dist: trusty
sudo: required
language: generic
services:
- docker
env:
- RAILS_ENV=localdocker
before_install:
- if [ "$TRAVIS_BRANCH" == "master" -a "$TRAVIS_PULL_REQUEST" == "false" ]; then
    openssl aes-256-cbc -K $encrypted_b1d4fe0424e9_key -iv $encrypted_b1d4fe0424e9_iv
      -in credentials.tar.gz.enc -out credentials.tar.gz -d;
    tar -xzf credentials.tar.gz;
  fi

install:
- docker version
- docker-compose version
- docker-compose build
deploy:
  provider: gae
  keyfile: "client-secret.json"
  project: "elepath-219104"
  on: master
  
notifications:
  slack:
    rooms:
      - codelanka:t20DKGCWPBZybOLsuPcCARUI#travis-ci
